<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/blogit/home2">home</a></li>
            {{!-- <li><a href="/myblog">myblog</a></li>
            <li><a href="/allblogs">allblog</a></li> --}}
            <li><a href="/blogit/dashboard">Dashboard</a></li>
        </ul>
    </nav>
    
    <h1> {{user.username}} blog </h1>
    {{#each blogs as |blog| }}
    <div>
        <div>{{blog.postName}}</div>
        <div>{{blog.caption}}</div>
        <div>{{blog.blog}}</div>
    </div>
    {{/each}}
</body>
</html>